html {
    box-sizing: border-box;
    background-color: #F7F7F7;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    text-align: center;
}

h1, .h1 {
    color: #9E9D9D;
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h1:after, .h1:after {
    content: url("../images/adorment.png");
    line-height: 8px;
    display: block;
}

h2, .h2 {
    font-weight: 500;
    text-align: center;
    color: #9E9D9D;
}

h4, .h4 {
    font-size: 15px;
    font-weight: 400;
    color: #6D6D6D;
}

.menu h2, .menu .h2 {
    color: #585858;
}

.menu h4, .menu .h4 {
    padding: 8px 0;
}

h5, .h5 {
    font-size: 14px;
}

.label {
    vertical-align: middle;
    font-size: 12px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding: 20px;
}

.container-fluid {
    padding: 20px 8px 0;
}

footer, .footer {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.menu {
    color: #585858;
}

.flex-row, .menu-header {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #F7F7F7;
    height: 100%;
    box-shadow: 0px 19px 54px rgba(0, 0, 0, 0.06);
}



.card.active {
    background-color: #DFDFDF;
}

.card h2, .card .h2 {
    color: #AA221D;
    font-weight: 700;
}

.highlight, .btn {
    border-radius: 999px;
    display: inline-block;
    color: #FFFFFF;
}

.highlight {
    padding: 3px 14px 5px;
    text-align: center;
    background-color: #AA221D;
}

.highlight, footer, .footer {
    font-size: 14px;
    font-weight: 300;
}

footer, .footer {
    color: #9E9D9D;
}

.card .highlight {
    background-color: #9E9D9D;
}

.menu-header {
    margin-top: 25px;
    background: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menu-body {
    position: relative;
    padding: 14px;
    background-color: #FFFFFF;
}

.menu-body:before {
    content: '';
    margin: auto;
    height: 1px;
    background-color: #E7E7E7;
    position: absolute;
    top: 0;
    left: 14px;
    right: 14px;
}

.step {
    transform: translateY(-25px);
    font-size: 14px;
    text-align: center;
    width: 84px;
}

.btn {
    display: block;
    border-radius: 999px;
    padding: 10px 24px;
    border: none;
    outline: 0;
    box-shadow: none;
    background-color: #AA221D;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #C7C7C7;
}

.step .btn {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #BBBBBB;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    display: block;
    margin-bottom: 5px;
    padding: 0;
}

.car-selector {
    position: relative;
    padding: 60px;
}

.car-selector-wrapper h2 {
    color: #585858;
    font-weight: 700;
}

.car-selector-wrapper h2:last-child {
    font-weight: 400;
}

.car-selector .selector {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-selector .selector h5 {
    position: absolute;
    display: none;
    font-weight: 500;
    color: #585858;
}

.car-selector .selector[data-selector="1"] h5,
.car-selector .selector[data-selector="2"] h5,
.car-selector .selector[data-selector="3"] h5,
.car-selector .selector[data-selector="4"] h5 {
    left: 48px;
}

.car-selector .selector[data-selector="5"] h5 {
    top: 48px;
    text-align: center;
}

.car-selector .selector[data-selector="6"] h5,
.car-selector .selector[data-selector="7"] h5,
.car-selector .selector[data-selector="8"] h5,
.car-selector .selector[data-selector="9"] h5 {
    right: 48px;
    text-align: right;
}

.car-selector .selector[data-selector="10"] h5 {
    bottom: 48px;
    text-align: center;
}

.car-selector .selector[data-selector="11"] h5,
.car-selector .selector[data-selector="12"] h5,
.car-selector .selector[data-selector="13"] h5 {
    text-align: right;
    right: 56%;
}

.car-selector .selector[data-selector="1"],
.car-selector .selector[data-selector="9"] {
    top: 6%;
}

.car-selector .selector[data-selector="1"] {
    right: 36px;
}

.car-selector .selector[data-selector="9"] {
    left: 36px;
}

.selector[data-selector="2"],
.selector[data-selector="3"],
.selector[data-selector="4"] {
    right: 14px;
}

.selector[data-selector="6"],
.selector[data-selector="7"],
.selector[data-selector="8"]  {
    left: 14px;
}

.selector[data-selector="2"],
.selector[data-selector="8"]  {
    top: 38%;
}

.selector[data-selector="3"],
.selector[data-selector="7"]  {
    bottom: 39%;
}

.selector[data-selector="4"],
.selector[data-selector="6"]  {
    bottom: 24%;
}

.selector[data-selector="5"],
.selector[data-selector="10"],
.selector[data-selector="11"],
.selector[data-selector="12"],
.selector[data-selector="13"]  {
    right: 0;
    left: 0;
    width: auto
}

.selector[data-selector="5"] {
    bottom: 0;  
}

.selector[data-selector="10"] {
    top: 0;  
}

.selector[data-selector="11"] {
    top: 15%;  
}

.selector[data-selector="12"] {
    top: 50%;  
}

.selector[data-selector="13"] {
    bottom: 15%;  
}

.car-selector .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    color: #585858;
    background-color: #DBDBDB;
    font-size: 18px;
}

.step.active .btn, .car-selector .selector.active .btn {
    background-color: #AA221D;
}

.car-selector .selector.active h5 {
    color: #AA221D;
}

.car-selector .selector.active .btn {
    color: #FFFFFF;
    box-shadow: 0px 6px 24px rgba(89, 89, 89, 0.25);
}

/*--Modificación y animaciones de modelos--*/

/*Modelo Pickup*/

.selector.pickup[data-selector="2"], .selector.pickup[data-selector="8"] {
    top: 33%;
}

.selector.pickup[data-selector="12"] {
    top: 43%;
}

.selector.pickup[data-selector="3"], .selector.pickup[data-selector="7"] {
    bottom: 46%;
}

.selector.pickup[data-selector="13"] {
    bottom: 22%;
}

.selector.pickup[data-selector="5"] {
    bottom: 8%;
}

.car-selector .selector.pickup[data-selector="1"], .car-selector .selector.pickup[data-selector="9"] {
    top: 5%;
}


/*----------------------*/

/*Modelo suv*/
.selector.suv[data-selector="11"] {
    top: 15%;
}

.selector.suv[data-selector="12"] {
    top: 36%;
}

.selector.suv[data-selector="13"] {
    bottom: 28%;
    left:15px;
}

.selector.suv[data-selector="3"], .selector.suv[data-selector="7"] {
    bottom: 40%;
}

.selector[data-selector="2"], .selector[data-selector="8"] {
    top: 39%;
}

.car-selector .selector[data-selector="1"], .car-selector .selector[data-selector="9"] {
    top: 8%;
}

.selector.suv[data-selector="5"] {
    bottom: 11%;
}

/*---------------------------------------*/

/*Modelo Sedan*/

.selector.sedan[data-selector="13"] {
    bottom: 17%;
}

.selector.sedan[data-selector="5"] {
    bottom: 9%;
    left:1%;
}

.selector.sedan[data-selector="3"], .selector.sedan[data-selector="7"] {
    bottom: 41%;
}

.selector.sedan[data-selector="2"], .selector.sedan[data-selector="8"] {
    top: 40%;
}

.selector.sedan[data-selector="11"] {
    top: 16%;
}

.selector.sedan[data-selector="12"] {
    top: 48%;
}

/*---------------*/

/*Modelo hatchback*/

.selector.hatchback[data-selector="12"] {
    top: 42%;
}

.selector.hatchback[data-selector="13"] {
    bottom: 21%;
}

.selector.hatchback[data-selector="5"] {
    bottom: 8%;
}

.selector.hatchback[data-selector="11"] {
    top: 17%;
}

.selector.hatchback[data-selector="2"], .selector[data-selector="8"] {
    top: 41%;
}

/*---------------*/

svg{
    max-width: 100%;
    height: auto;
}

svg .luces{
    fill:#669FCC;
    animation-name: luces;
    animation-duration: 3s;
    -moz-animation-name: luces;
    -moz-animation-duration: 3s;
    -webkit-animation-name: luces;
    -webkit-animation-duration: 3s;

}

@keyframes luces{
    from{
        fill:rgba(248, 255, 82, .5);
        opacity: .1;
    }

    to{
        fill:rgba(248, 255, 82, .9);;
        opacity:1;
    }
}


a.nodecoration, div.step a{
    text-decoration:none;
}

.preview-pickup, .preview-sedan, .preview-hatchback, .preview-suv{
    position: relative;
    animation-name: estacionado;
    animation-duration: 3s;
    -moz-animation-name: estacionado;
    -moz-animation-duration: 3s;
    -webkit-animation-name: estacionado;
    -webkit-animation-duration: 3s;
    top:-18px;
}

@keyframes estacionado{
    from{
        top:330px;
    }

    to{
        top:-18px;
    }
}

/*-------------------------------*/

.step.active,  .step.active .btn {
    font-weight: 700;
}

h3, .h3 {
    font-size: 20px;
    font-weight: 500;
}

.loader-wrapper {
    display: none;
    background: linear-gradient(rgb(67, 15, 13, 0.96), rgb(170, 34, 29, 0.96));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    height: 100vh;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
}

.loader .title {
    font-weight: 200;
}

.loader .subtitle {
    font-weight: 600;
}

.loader > * {
    max-width: 700px;
}

.loader img {
    margin-top: 20px;
}

.overlay {
    overflow-y: hidden;
}

.overlay .loader-wrapper {
    display: block;
}

:focus {
    outline: 0;
}

.menu .flex-row {
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
}

.menu .flex-row > * {
    width: 50%;
}
.menu .flex-row.w-auto > * {
    width: auto;
}

.menu .flex-row > div {
    display: flex;
}

[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 9999px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 2px;
}

[type=radio]:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: #FFFFFF;
    top: -1px;
    right: 0;
    bottom: 0;
    left: -1px;
    border: 3px solid #C4C4C4;
    border-radius: 50%;
}

[type=radio]:checked:before {
    transition: all .2s ease-in-out;
    background-color: #AA221D;
    border-color: #AA221D;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-size: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    width: 240px;
    padding: 10px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}

.input-group > .label {
    padding-right: 5px;
    color: #9E9D9D;
}

.input-group > input {
    border: none;
    outline: 0;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    color: #585858;
}

.disclaimer {
    font-size: 15px;
    font-weight: 300;
    color: #9E9D9D;
    padding: 15px;
}

@media (max-width: 767px) {
    
    .header img {
        max-width: 168px;
    }

    h1, .h1 {
        font-size: 30px;
        max-width: 224px;
        line-height: 44px;
    }

    h2, .h2, .step .btn {
        font-size: 20px;
    }

    .flex-row {
        margin-left: -8px;
        margin-right: -8px;
        padding-top: 8px;
        padding-bottom: 16px;
    }

    .flex-row > * {
        padding: 8px;
    }

    .sm-block {
        display: block;
    }
    
    .sm-text-center {
        text-align: center;
    }

    .card {
        padding: 16px;
    }

    .sm-100 {
        width: 100%;
    }

    body {
        padding-bottom: 204px;
    }

}

@media (min-width: 768px) {

    .container {
        max-width: 750px;
    }
    .container-fluid {
        padding: 20px 30px 0;
    }

    h1, .h1 {
        font-size: 36px;
        line-height: 52px;
    }

    h2, .h2, .loader, .step .btn {
        font-size: 24px;
    }

    .menu-header {
        margin-top: 29px;
    }

    .step {
        transform: translateY(-29px);
        width: 92px;
    }

    .step .btn {
        height: 58px;
        width: 58px;
    }

    .flex-row {
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .footer .flex-row {
        padding-bottom: 0;
    }

    .flex-row > * {
        padding: 15px;
    }

    .menu .flex-row > * {
        padding: 8px 15px;
    }

    .md-50 {
        width: 50%;
    }

    .card {
        padding: 26px;
    }

    .highlight, footer, .footer {
        font-size: 15px;
    }

    body {
        padding-bottom: 161px;
    }

}

@media (min-width: 992px) {

    .container {
        max-width: 970px;
    }

    .container-fluid {
        padding: 20px 40px 0;
    }

    h2, .h2, .loader, .step .btn {
        font-size: 28px;
    }

    .menu-header {
        margin-top: 32px; 
    }

    .step {
        transform: translateY(-32px);
        width: 100px;
    }

    .step .btn {
        width: 64px;
        height: 64px;
    }

    .lg-40 {
        width: 40%;
    }

    .lg-60 {
        width: 60%;
    }

    .menu-body {
        padding: 18px;
    }
    
    .menu-body:before {
        left: 18px;
        right: 18px;
    }

    .car-selector-wrapper {
        padding: 0 80px;
    }

    .car-selector {
        padding: 70px;
    }

    .car-selector .selector h5 {
        display: block;
    }

    .car-selector-wrapper {
        position: relative;
    }
    
    .car-selector-wrapper:before {
        content: "";
        background: rgba(196, 196, 196, 0.1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        right: 50%;
        border-radius: 30px;
    }
    
}

@media (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }

    .container-fluid {
        padding: 20px 50px 0;
    }

    h4, .h4 {
        font-size: 17px;
        font-weight: 400;
    }

    h5, .h5 {
        font-size: 16px;
    }

    .label {
        font-size: 14px;
    }

    .menu-body {
        padding: 22px;
    }
    
    .menu-body:before {
        left: 22px;
        right: 22px;
    }

    .car-selector {
        margin-right: auto;
        margin-left: auto;
        max-width: 500px;
    }

    .xl-30 {
        width: 30%;
    }

    .xl-70 {
        width: 70%;
    }
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}

.text-light {
    font-weight: 300;
}

.text-gray {
    color: #9E9D9D;
}

.grow-1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.justify-center, .menu-header {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
