<footer class="footer">
    <div class="flex-row align-center justify-center">
        <h3 class="h3">Síguenos:</h3>
        <a><img alt="facebook" src="../assets/images/facebook.png"/></a>
        <a><img alt="instagram" src="../assets/images/instagram.png"/></a>
    </div>
    <div class="flex-row sm-text-center">
        <div class="sm-100 grow-1">Copyright © Ampay MKT S.A.C.<span class="sm-block">Todos los derechos reservados.</span></div>
        <div class="sm-100">Términos y condiciones</div>
    </div>
</footer>