<!-- Agregar clase "overlay" al body -->
<div class="loader-wrapper">
    <div class="loader">
        <div class="text-center">
            <div class="title">Estás a un paso de renovar tu auto</h2>
            <div class="subtitle">¡Quedará como nuevo!</h2>
            <img src="../assets/images/loader.png"/>
        </div>
    </div>
</div>